<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="accessLog"
        class="ch.qos.logback.core.FileAppender">
        <file>access_log.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="async"
        class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="accessLog" />
    </appender>
    <logger name="reactor.netty.http.server.AccessLog"
        level="DEBUG" additivity="false">
        <appender-ref ref="async" />
    </logger>

    <appender name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%t] [%F]%M\(%L\) : %m%n
            </pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>